@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fun-bg {
  background-color: #10439f;
background-image: radial-gradient(at 23% 16%, #10439f 0%, transparent 60%), radial-gradient(at 36% 1%, #874ccc 0%, transparent 50%), radial-gradient(at 85% 77%, #c65bcf 0%, transparent 40%), radial-gradient(at 34% 42%, #f27bbd 0%, transparent 30%);
}